html(ng-app='directive_api')
	head
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(src='/lib/jquery/jquery-1.10.2.js')
		script(src='/lib/angular/angular.js')
		script(src='/lib/angular/angular-animate.js')
		script(src='/lib/angular/angular-resource.js')
		script(src='/lib/angular/angular-route.js')
		script(src='/view/layout.js')
	body
		div(ng-controller='ctrl1')
			sapn test