//- div
//-     div(ng-repeat='item in items')
//-         input(type='number', ng-model='config[$index]')
//-         button(ng-click='items.push($index+1);setIndex($index); disabled') add
//-     span(ng-transclude='ng-transclude')
sapn test